<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Descubre como esta el clima en tu ciudad</p>

        <form>
            <input placeholder="Ingresa la ciudad...">
            <button>Consultar clima</button>
        </form>

        
        <p id="message-1"></p>
        <p id="message-2"></p>

        <div class="climaresultados"> 
            <div id="clima1"> </div>
            <div id="clima2"> </div>
            <div id="clima3"> </div>
            <div id="clima4"> </div>
            <div id="clima5"> </div>
            <div id="clima6"> </div>
            <div id="clima7"> </div>
            <div id="clima8"> </div>
            <div id="clima9"> </div>
            <div id="clima10"> </div>
        </div>

 
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>