<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Descubre como esta el clima en tu ciudad</p>

        <form>
            <input placeholder="Ingresa la ciudad...">
            <button>Consultar clima</button>
        </form>

        
        <p id="message-1"></p>
        <p id="message-2"></p>

        <div class="climaresultados"> 
            <div id="boxclimaresultados"><h2>Ciudad:</h2><h4 id="clima1"> </h4></div>
            <div id="boxclimaresultados"><h2>País: </h2><h4 id="clima2"> </h4></div>
            <div id="boxclimaresultados"><h2>Hora actual: </h2><h4 id="clima3"> </h4></div>
            <div id="boxclimaresultados"><h2>Temperatura:</h2><h4 id="clima4"> </h4></div>
            <div id="boxclimaresultados"><h2>Código:</h2><h4 id="clima5"> </h4></div>
        </div>
        <div class="climaresultados"> 
            <div id="boxclimaresultados"><h2>Clima:</h2><h4 id="clima6"> </h4></div>
            <div id="boxclimaresultados"><h2>Velocidad del viento:</h2><h4 id="clima7"> </h4></div>
            <div id="boxclimaresultados"><h2>Dirección del viento:</h2><h4 id="clima8"> </h4></div>
            <div id="boxclimaresultados"><h2>Humedad:</h2><h4 id="clima9"> </h4></div>
            <div id="boxclimaresultados"><h2>Porcentaje de nubes:</h2><h4 id="clima10"> </h4></div>
        </div>

 
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>